.proj-container {
  background-color: var(--color-blackcontrast); /* Dark background color */
  width: 100%;
  padding: 3rem 1rem;
  text-align: center;
  color: var(--color-highcontrast);
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

.proj-header {
  font-size: 2.5rem;
  color: var(--header-color-h1);
  margin-bottom: 3rem;
  position: relative;
}

.proj-header::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: var(--highlight-color);
  border-radius: 2px;
}

.proj h3 {
  font-size: 1.5rem;
}