/* LoginDropdown.css */

.login-dropdown {
  position: absolute; /* Position absolutely */
  top: 10px; /* Adjust top position as needed */
  right: 10px; /* Adjust right position as needed */
  z-index: 100; /* Ensure it's above other content */
}

.lo.login-button:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

/* Dropdown content container */
.dropdown-content {
  position: absolute;
  top: 40px; /* Position dropdown below the login button */
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  z-index: 1000; /* Ensure dropdown is above other content */
  display: block; /* Initially hide dropdown */
  min-width: 200px; /* Adjust width as needed */
}

/* Show dropdown content when isOpen is true */
.login-dropdown.open .dropdown-content {
  display: block;
}

/* Input styles */
.dropdown-content input[type="text"],
.dropdown-content input[type="password"] {
  width: calc(100% - 20px); /* Adjust input width */
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Button style within dropdown */
.dropdown-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.dropdown-content button:hover {
  background-color: #0056b3;
}