

.login-dropdown {
  position: absolute;
  top: 10px; 
  right: 10px; 
  z-index: 100; 
}

.lo.login-button:hover {
  background-color: #0056b3; 
}


.dropdown-content {
  position: absolute;
  top: 40px; 
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  z-index: 1000; 
  display: block; 
  min-width: 200px; 
}


.login-dropdown.open .dropdown-content {
  display: block;
}


.dropdown-content input[type="text"],
.dropdown-content input[type="password"] {
  width: calc(100% - 20px); 
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


.dropdown-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.dropdown-content button:hover {
  background-color: #0056b3;
}