.skills-section {
  background-color: var(--color-blackcontrast);
  padding: 3rem 0 0 0;
}

.skills-container {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  color: var(--header-color-h1); 
  margin-bottom: 3rem;
  font-family: 'Montserrat', sans-serif; 
  position: relative; 
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width:15rem;
  height: 4px;
  background-color: var(--highlight-color);
  border-radius: 2px;
}

.skill {
  background-color: transparent; 
  padding: 2rem;
  margin-bottom: 3rem;
}

.skill-title {
  font-size: 2.2rem;
  color: var(--header-color-h2); 
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
}

.skill-description {
  font-size: 1.6rem;
  color: var(--color-text); 
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}
