.skill-card {
  background-color: var(--color-blackcontrast); 
  padding: 3rem;

}

.skill-title {
  font-size: 2.4rem;
  color: var(--header-color-h2);
  margin-bottom: 1.5rem; 
  font-family: 'Roboto', sans-serif; 
}

.skill-description {
  font-size: 1.8rem; 
  color: var(--color-text);
  line-height: 1.6; 
  font-family: 'Roboto', sans-serif;
}
