:root {
  --button-bg-color: #FF7F50; 
  --button-text-color: #F2F2F2; 
}

.bubble-area {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10; 
}

.bubble-area a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--button-bg-color); 
  background-image: linear-gradient(45deg, #FF7F50, #FF6347); 
  color: var(--button-text-color);
  text-decoration: none;
  font-family: 'Montserrat', monospace;
  text-align: center;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7); 
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  position: relative; 
  overflow: hidden; 
  border: 2px solid transparent; 
}

.bubble-area a:hover {
  background-color: #FF6347; 
  transform: translateY(-5px); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); 
  border-color: #FF6347; 
}

.bubble-area .bubble-icon {
  font-size: 3rem; 
  margin-bottom: 0.2rem;
}

.bubble-area .bubble-label {
  font-size: 1.2rem;
  margin-top: 0.0rem;
}
